/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html,
body {
    height: 100%;
    color: #4A4E69;
}

body {
    background-color: #F2E9E4;
    overflow-x: hidden;
    font-size: 13px;
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}